absl-py==1.4.0
advertools==0.7.4
aiohttp==3.8.4
aiosignal==1.3.1
alembic==1.10.2
anyio==3.6.2
apache-airflow==2.5.3
apache-airflow-providers-common-sql==1.3.4
apache-airflow-providers-ftp==3.3.1
apache-airflow-providers-http==4.2.0
apache-airflow-providers-imap==3.1.1
apache-airflow-providers-sqlite==3.3.1
apispec==1.3.3
appdirs==1.4.4
APScheduler==3.6.3
argcomplete==1.10.3
asgiref==3.6.0
asttokens==2.2.1
async-generator==1.10
async-timeout==4.0.2
attrs==22.2.0
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.8.2
blinker==1.6
blis==0.7.10
bs4==0.0.1
cached-property==1.5.2
cachelib==0.9.0
cachetools==5.3.0
captcha==0.4
catalogue==1.0.2
cattrs==22.2.0
cchardet==2.1.7
certifi==2022.12.7
cffi==1.15.1
channels==4.0.0
chardet==3.0.4
charset-normalizer==3.1.0
chatterbot-corpus==1.2.0
click==8.1.3
clickclick==20.10.2
cobble==0.1.3
colorama==0.4.6
colorlog==4.0.2
compressed-rtf==1.0.6
confection==0.1.0
configparser==3.5.3
ConfigUpdater==3.1.1
connexion==2.14.2
contourpy==1.0.7
convertdate==2.4.0
cron-descriptor==1.2.35
croniter==1.3.8
cryptography==39.0.1
cssselect==1.2.0
cycler==0.11.0
cymem==2.0.7
Cython==0.29.32
decorator==4.4.2
defusedxml==0.7.1
Deprecated==1.2.13
dill==0.3.6
distlib==0.3.6
Django==4.1.10
django-cors-headers==4.2.0
django-extensions==3.2.1
djangorestframework==3.14.0
djongo==1.3.6
dnspython==2.3.0
docutils==0.19
docx2txt==0.8
dxfwrite==1.2.2
ebcdic==1.1.1
email-validator==1.3.1
emoji==2.2.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
et-xmlfile==1.1.0
executing==1.2.0
extract-msg==0.28.7
fake-useragent==0.1.14
Faker==17.5.0
fastapi==0.88.0
filelock==3.8.2
fire==0.5.0
Flask==2.2.2
Flask-AppBuilder==4.1.4
Flask-APScheduler==1.12.4
Flask-Babel==2.0.0
Flask-Caching==2.0.2
Flask-JWT-Extended==4.4.4
Flask-Login==0.6.2
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.1.1
fonttools==4.39.0
frozendict==2.3.5
frozenlist==1.3.3
fst-pso==1.8.1
funcsigs==1.0.2
future==0.18.3
FuzzyTM==2.0.5
gensim==4.3.0
google==3.0.0
google-ads==20.0.0
google-api-core==2.11.0
google-auth==2.16.2
google-auth-oauthlib==0.8.0
google-search-results==2.4.1
googleads==37.0.0
googleapis-common-protos==1.58.0
googlesearch-python==1.1.0
graphviz==0.20.1
greenlet==2.0.2
grpcio==1.51.3
grpcio-status==1.51.3
gsearch==1.6.0
gunicorn==20.1.0
h11==0.14.0
hijri-converter==2.2.4
holidays==0.23
html5lib==1.1
httpcore==0.16.3
httptools==0.5.0
httpx==0.23.3
idna==3.4
imageio==2.27.0
imageio-ffmpeg==0.4.8
IMAPClient==2.1.0
importlib-resources==5.12.0
inflection==0.5.1
ipython==8.13.2
iso8601==1.1.0
isodate==0.6.1
itsdangerous==1.1.0
jedi==0.18.2
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.2.0
json-merge-patch==0.2
jsonschema==4.17.3
kiwisolver==1.4.4
korean-lunar-calendar==0.3.1
langcodes==3.3.0
lazy-object-proxy==1.4.3
linkify-it-py==2.0.0
lockfile==0.12.2
lxml==4.9.2
MagicGoogle==0.2.7
Mako==1.2.4
mammoth==1.6.0
Markdown==2.6.11
markdown-it-py==2.2.0
MarkupSafe==2.0.1
marshmallow==2.21.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
matplotlib==3.7.2
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.5
mdurl==0.1.2
mechanize==0.4.8
miniful==0.0.6
moviepy==1.0.3
mpmath==1.3.0
multidict==6.0.4
multitasking==0.0.11
murmurhash==1.0.9
mysqlclient==2.1.1
natsort==8.3.1
networkx==3.1
nltk==3.8.1
numpy==1.24.2
oauthlib==3.2.2
olefile==0.46
openai==0.27.4
opencv-python==4.7.0.68
openpyxl==3.1.2
outcome==1.2.0
packaging==23.0
pandas==1.5.3
parso==0.8.3
patch==1.16
pathspec==0.9.0
pathy==0.10.2
pdf2docx==0.5.6
pdf2image==1.16.2
pdfminer.six==20191110
pdfminer3==2018.12.3.0
pendulum==2.1.2
phonenumbers==8.13.5
pickleshare==0.7.5
Pillow==9.4.0
plac==1.1.3
platformdirs==2.6.0
plotly==5.14.0
pluggy==1.0.0
preshed==3.0.8
prison==0.2.1
proglog==0.1.10
prompt-toolkit==3.0.38
proto-plus==1.22.2
protobuf==4.21.2
psutil==5.9.4
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodome==3.18.0
pydantic==1.10.2
pydub==0.25.1
pyFUME==0.2.25
Pygments==2.14.0
PyJWT==1.7.1
PyMeeus==0.5.12
pymongo==4.4.1
PyMuPDF==1.21.1
pyparsing==3.0.9
PyPDF2==3.0.1
pyquery==2.0.0
pyresparser==1.0.6
pyrsistent==0.19.3
PySocks==1.7.1
pytesseract==0.3.10
python-daemon==3.0.1
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==0.21.0
python-nvd3==0.15.0
python-pptx==0.6.21
python-slugify==4.0.1
pytrends==4.9.0
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
pytzdata==2020.1
PyYAML==6.0
random-user-agent==1.0.1
redbird==0.6.1
regex==2022.10.31
requests==2.28.2
requests-file==1.5.1
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
rfc3339-validator==0.1.4
rfc3986==1.5.0
rich==13.3.3
rocketry==2.5.1
rsa==4.9
schedule==1.1.0
scikit-learn==1.3.0
scipy==1.11.1
seaborn==0.12.2
search-engine-parser==0.6.8
selenium==4.8.2
setproctitle==1.3.2
simpful==2.9.0
six==1.12.0
smart-open==6.3.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
spacy==2.3.9
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SpeechRecognition==3.8.1
SQLAlchemy==1.4.47
SQLAlchemy-JSONField==1.0.1.post0
SQLAlchemy-Utils==0.40.0
sqlparse==0.2.4
srsly==1.0.7
stack-data==0.6.2
starlette==0.22.0
stem==1.8.2
sympy==1.12
tabulate==0.8.10
tenacity==4.12.0
tensorboard==2.13.0
tensorboard-data-server==0.7.0
termcolor==2.2.0
text-unidecode==1.3
textblob==0.17.1
textract==1.6.5
thinc==7.4.6
thop==0.1.1.post2209072238
threadpoolctl==3.2.0
thrift==0.16.0
torch==2.0.1
torchvision==0.15.2
tqdm==4.65.0
traitlets==5.9.0
trio==0.22.0
trio-websocket==0.9.2
twython==3.9.1
typer==0.9.0
typing_extensions==4.4.0
tzdata==2022.7
tzlocal==5.0.1
uc-micro-py==1.0.1
unicodecsv==0.14.1
urllib3==1.26.15
uvicorn==0.20.0
virtualenv==20.17.1
wasabi==0.10.1
watchfiles==0.18.1
wcwidth==0.2.6
webdriver-manager==3.8.6
webencodings==0.5.1
websockets==10.4
Werkzeug==2.3.4
wrapt==1.15.0
wsproto==1.2.0
WTForms==3.0.1
xlrd==1.2.0
XlsxWriter==3.1.2
xmltodict==0.13.0
yarl==1.8.2
yfinance==0.2.12
zeep==4.2.1
zipp==3.15.0
zope.deprecation==4.4.0
