<!DOCTYPE html>
<html>
<head>
    <title>Extracted Resume Data</title>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        </style>
</head>
<body>
    <h1>Extracted Resume Data</h1>
    
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Contact Number</th>
                <th>Email</th>
                <th>Skills</th>
                <!-- <th>Education</th> -->
                <th>Degree</th>
                <th>College</th>
                <th>Years</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ extracted_data.name }}</td>
                <td>{{ extracted_data.contact_number }}</td>
                <td>{{ extracted_data.email }}</td>
                <td>
                    {% for skill in extracted_data.skills %}
                        {{ skill }}<br>
                    {% endfor %}
                </td>
                <td>
                    {{ extracted_data.degree }}
                </td>
                <td>
                    {{ extracted_data.college }}
                </td>
                <td>
                    {{ extracted_data.years }}
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>

    <!-- <h1>Extracted Resume Data</h1>
    
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Contact Number</th>
                <th>Email</th>
                <th>Skills</th>
                <th>Education</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ extracted_data.name }}</td>
                <td>{{ extracted_data.contact_number }}</td>
                <td>{{ extracted_data.email }}</td>
                <td>
                    {% for skill in extracted_data.skills %}
                        {{ skill }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for education in extracted_data.education %}
                        {{ education }}{% if not forloop.last %}<br>{% endif %}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table> -->
</body>
</html>